.filter {
    width: 100%;
}
.title {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.resetBtn {
    font-weight: 700;
    color: #1C4A2A;
}

.subContainer {
    margin: .8rem 0;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    gap: 6px;
    border-radius: 6px;
    border: 1px solid #e0e8e0;
    background: #fbfbfb;
    justify-content: space-evenly;
    font-weight: 550;
    font-size: small;
}

.subContainer input[type="radio"] {
    accent-color: #1C4A2A; /* Change the color of the radio button when checked */
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #E0E8E0; 
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 6px ;
}

.subContainer p {
    margin-bottom: 8px;
}

.subContainer input[type="radio"]:checked::before {
    outline: 1px solid #1C4A2A;
    outline-offset: 3px;
    border: 2px solid #1C4A2A;
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #1C4A2A; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    
    
}