.login{
    width: 100vw;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login_image{
    width: 100%;
    object-fit:cover ;
}

.fields{
    margin: 10px auto;
    width: 560px;
    /* height: 550px; */
    background-color: rgba(239, 239, 239, 0.6);
    border: 1px solid rgba(239, 239, 239, 1);
    backdrop-filter: blur(20px); 
    border-radius: 16px;
    padding: 18px 24px ;
    display: flex;
    flex-direction: column;
    gap: 8px ;
}
.fields a{
    color : #0E2515
}
.fields a:visited{
    color: #0E2515;
}
.fields h6{
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 8px;
}
.p_tag {
  color: gray;
}
#signup_route{
    font-weight: 500;
    size: 16px;
    color: #0E2515;
}
.login_section{
    width: 512px;
    /* height: 420px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.forgot{
    /* width: 512px;
    height: 20px; */
    font-size: 16px;
    font-weight: 500px;
    text-align: center;
    color : #0E2515 ;
}

@media (max-width: 768px) {
  .fields {
      width: 90%;
      height: auto;
      padding: 20px;
  }

  .login_section {
      width: 100%;
  }

  .forgot {
      font-size: 14px;
  }
}
