@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

/*home page---------------------------*/
/* .main-container, .booking-container {
  height: calc(100vh - 80px);
  
  width: 100%;
  display: flex;
  align-items: center;
}
.booking-container {
  background-image: url('/Appointment-booking.png');
} 
*/

/* login-page----------------------------- */

/* Footer styles----------------------------- */


/* Appointments page styles----------------------------- */
.appointments-container {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.search-section {
  width: 80%;
}
.search-section h3 {
    color:#1C4A2A;
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 16px;
    text-align: center;
}

.search-box {
    display: flex;
    gap: 8px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px;
}

.search-field {
    flex: 1;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 200;
}

.search-btn {
    padding: 12px 30px;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: #1C4A2A;
    color: white;
    cursor: pointer;
    font-weight: 200;
}

.search-field:focus {
    outline: none;
    background: white;
}


/* Responsive styling for small screens */
@media (max-width: 768px) {
  
  .booking-container{
    background-image: none;
    background-color: #1C4A2A;
  }

  .search-box {
    padding: 0;
  }

  .search-field {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
  }

}
