.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background: #F8FCF9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: #1C4A2A;
    padding: 15px;
    border-radius: 8px;
    color: white;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: #F8FCF9;
    border-radius: 10px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #1C4A2A;
    color: white;
    font-weight: bold;
}

.doctorLink {
    color: #dc2626;
    font-size: 18px;
    text-decoration: underline;
}

.actionButtons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

.table td {
    vertical-align: middle;
}

.approveButton, .declineButton {
    padding: 8px 12px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.approveButton {
    background-color: #16a34a;
    color: white;
}

.approveButton:hover {
    background-color: #15803d;
}

.declineButton {
    background-color: #ef4444;
    color: white;
}

.declineButton:hover {
    background-color: #dc2626;
}
