.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    gap: 15px;
}

.button {
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.doctorButton {
    background-color: #3b82f6;
}

.doctorButton:hover {
    background-color: #2563eb;
}

.appointmentButton {
    background-color: #10b981;
}

.appointmentButton:hover {
    background-color: #059669;
}


@media (max-width: 400px) {
    .buttonContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }

    .button {
        width: 80%;
        font-size: 18px;
        padding: 15px 0;
    }

    .header {
        font-size: 20px;
    }
}