.bookingForm {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    padding: 16px 32px;
    height: 100%;
}

/* .bookingSubContainer {
    height: 100%;
    width: 100%;
} */
.nextBtn {
    width: 100%;
    color: white;
    background: #1C4A2A;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    padding: 6px;
}

@media screen and (min-width: 768px) and (max-width: 920) {
    .bookingForm {
        padding: 1rem;
        gap: 0.9375rem
    }

    .nextBtn {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .bookingForm {
        padding: 1rem;
        gap: 0.9375rem
    }

    .nextBtn {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}