.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.month {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    /* overflow-x: auto; */
}

.navButton {
  background: none;
  /* border: 1px solid #C9C9C9;
  border-radius: 50%;
  padding: .1px; */
  font-size: 20px;
  cursor: pointer;
  color: #333;
  /* padding: 4px; */
}

.navButton:hover {
  color: #000;
}

.monthTitle {
  font-size: 16px;
  font-weight: bold;
}

.dateContainer {
  display: flex;
  width: 100%;
  gap: 8px;
}

.dateList {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 2px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.dateItem {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  height: 32px;
  padding: .5px;
  border: 1px solid #C9C9C9;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  color: #313131;
  font-size: 12px;
  font-weight: 500;
}

.dateItem:hover {
  background: #f5f5f5;
  color: #313131;
}

.selected {
    background: #1C4A2A;
    color: #fff;
  }

@media screen and (max-width: 768px) {
    .month {
      gap: 5px;
    }
  
    /* .navButton {
      font-size: 18px;
    }
  
    .monthTitle {
      font-size: 14px;
    }

    .dateList {
    gap: 4px;
    padding: 4px;
  } */

  /* .dateItem {
    width: 60px;
    height: 30px;
    padding: 2px;
  }

  .day, .date {
    font-size: 12px;
  } */
}